
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PDW/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Allow access to assets
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico|pdf|txt)$">
    Require all granted
</FilesMatch>
